[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
CN = 192.168.50.57

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.50.57
IP.2 = 176.36.188.208
IP.3 = 127.0.0.1
DNS.1 = localhost
